[submodule "tool/music/mid2agb"]
	path = tool/music/mid2agb
	url = https://github.com/snallapa/mid2agb-modified.git
[submodule "tool/music/midi2agb"]
	path = tool/music/midi2agb
	url = https://github.com/ipatix/midi2agb.git
[submodule "tool/voice/wav2agb"]
	path = res/voice/wav2agb
	url = https://github.com/ipatix/wav2agb.git
[submodule "res/voice/se2m4a"]
	path = res/voice/se2m4a
	url = https://github.com/laqieer/se2m4a.git
[submodule "res/feh"]
	path = res/feh
	url = https://github.com/HertzDevil/feh-assets-json.git
[submodule "tool/music/m4a2s"]
	path = tool/music/m4a2s
	url = https://github.com/laqieer/m4a2s
